.input {
  position: relative;
}

.light {
  position: absolute;
  top: 43px;
  right: 16px;
  width: 8px;
  height: 8px;
  border-radius: 50%;

  &.low {
    background-color: #ff0000;
    box-shadow: 0 0 2px 2px #b40000;
  }

  &.medium {
    background-color: #ffb300;
    box-shadow: 0 0 2px 2px #d99800;
  }

  &.high {
    background-color: #00ff62;
    box-shadow: 0 0 2px 2px #00c84d;
  }
}
