$default-background-color: #f8f8ff;
$dark-background-color: #000000;
$light-background-color: #ffffff;
$select-background-color: #e2e2e2;
$disable-text-color: #a9a9a9;
$glow-color: #ff1493;
$default-border-color: #cccccc;
$dark-text-color: #000000;
$light-text-color: #ffffff;
$primary-button-color: #1976d2;
$primary-button-hover-color: #1667b7;
$primary-button-active-color: #104c89;
$primary-box-shadow: #1976d2;
$warning-color: #ff0000;
$checkbox-color: #eeeeee;
$checkbox-hover-color: #cccccc;
