$dark-background-color: #000000;
$default-border-color: #cccccc;
$dark-text-color: #000000;
$light-text-color: #ffffff;
$light-text-shadow: #ffff00;
$primary-button-color: #1976d2;
$primary-button-hover-color: #1667b7;
$primary-button-active-color: #104c89;
$secondary-button-color: #ff0000;
$secondary-button-hover-color: #cc0000;
$secondary-button-active-color: #990000;
$primary-box-shadow: #1976d2;
$secondary-box-shadow: #ff0000;
$warning-color: #ff0000;
