$dark-background-color: #000000;
$default-border-color: #cccccc;
$dark-text-color: #000000;
$light-text-color: #ffffff;
$light-text-shadow: #ffff00;
$primary-button-color: #00b2c5;
$primary-button-hover-color: #0093a4;
$primary-button-active-color: #007683;
$secondary-button-color: #ff0000;
$secondary-button-hover-color: #cc0000;
$secondary-button-active-color: #990000;
$primary-box-shadow: #00ffff;
$secondary-box-shadow: #ff0000;
