@import '@/styles/variables';

.input {
  width: 100%;
  padding: 12px;
  margin-top: 4px;
  border: 1px solid $default-border-color;
  border-radius: 6px;

  &:focus {
    border-color: $primary-box-shadow;
    outline: none;
  }
}

.text-field {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
}

.error-message {
  font-size: 0.8em;
  color: $warning-color;
}
