@import '@/styles/variables';

.input {
  width: 100%;
  padding: 12px 32px 12px 12px;
  margin-top: 4px;
  background-color: #ffffff;
  border: 1px solid $default-border-color;
  border-radius: 6px;

  &.error {
    border-color: $warning-color;
  }

  &:focus {
    border-color: $primary-box-shadow;
    outline: none;
  }
}

.text-field {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.error-message {
  min-height: 16px;
  font-size: 0.8em;
  color: $warning-color;
}
